body {
	font-family: sans-serif;
}
.box
{
	width: 100%;
	background: #26a6bb;
	text-decoration-color: white;
	height: auto;
}

body, html 
{
  	 height: 100%;
  	 margin: 0;
}
.margin
{
 margin-top: 20vh;
}
a:link{
	color: red;
}
a:visited
{
	color: green;
}
/* Scroll */

#scroll a span {
  position: absolute;
  top: 85%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 5px solid #fffafa;
  border-bottom: 5px solid #fffafa;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#calmboy
{
	animation-delay: -2s;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
#skills
{
	animation-delay: -2s;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
.text-justify {
    text-align: justify;
}
p {
    color: white;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

@media (min-width: 300px) and (max-width: 450px) {
	.margin
{
 margin-top: 2vh;
}
}
